spring:
  application:
    name: logistic

  datasource:
    url: jdbc:postgresql://localhost:5432/logistic
    username:
    password:
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: true
    properties:
      hibernate:
        format_sql: true

jwt:
  secret:
  expiration: 86400000